.card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    color: black;
    text-transform:capitalize;

  }
  
  img{
    height: 70%;
    width: 70%;
  }

  .card-container:hover {
    transform: scale(1.05);
  }
  
  h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: h1 1.2s ease-in-out infinite alternate;
    -moz-animation: h1 1s ease-in-out infinite alternate;
    animation: h1 1s ease-in-out infinite alternate;
   }
   
   @keyframes h1 {
     from {
       text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black;
     }
     
     to {
       text-shadow: 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
     }
   }

   @media only screen and (max-width: 450px) {
    .card-container{
      padding: 0;
      width: 94%;
      margin-left: 2%;
    }
    h1{
      font-size: 20px;
    }
  }
