.card-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #c63333;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    color: #c63333;
    text-transform:capitalize;

  }
  
  img{
    height: 70%;
    width: 70%;
  }

  .card-container:hover {
    transform: scale(1.05);
  }
  